<p>
  <strong>タイトル</strong>
  <%= @post.title %>
</p>

<p>
  <strong>内容</strong>
  <%= @post.text %>
</p>

<!-- 追加個所　開始 -->
<h2>コメントを追加</h2>
<%= form_for( [@post, @post.comments.build] ) do |f| %>
  <p>
    <%= f.label :commenter, "コメンター" %><br />
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body, "コメント" %><br />
    <%= f.text_area :body, cols: 60, rows: 0 %>
  </p>

  <p>
    <%= f.submit, "コメント投稿" %>
  </p>

<% end %>

<!-- 追加個所　終了 -->

<%= link_to '戻る', posts_path %>
  <%= link_to '編集', edit_post_path(@post) %>

